<div class="login-box">
  <u><h1>AUVERSE</h1></u>
  <h2>Login</h2>
  <form action="/adminlogin" method="post">
    <div class="user-box">

      <input type="text" name="email" >
      <label>Email</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" >
      <label>Password</label>
    </div>
    <span style="color: red;">{{this.error}}</span>
   <button class="submitadminlogin" type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </button>
  </form>
</div>