<style>
    input{
        margin: 16px 0 !important;
    }
    .error{
        font-size: 13px;
        color: red;
    }
    .sendotp{
        margin-top: 10px;
    }
</style>

<div class="container {{this.panel}}" id="container" style="margin-top:140px">
	
	
		<form action="/resetPassword" method="post" class="form" id="resetpassword" >
			<h1>Reset Password</h1>
            <span id="forgot"></span>
			<input type="text" placeholder="Enter new password" name="password"/>
			<input type="text" placeholder="confirm new password" name="confirmpassword"/>
             <div class="buttonsInlogin">
                <button class="sendotp" type="submit">submit</button>
            </div>
		</form>
</div>

<script>
    $(document).ready(function(){

    $("#resetpassword").validate({
       rules: {
        password:{
            required:true,
        },
        confirmpassword:{
            required:true,
        },
    },
    messages: {
        password:{
            required:"Please enter yor new password *"
        },
        confirmpassword: {
            required:"Please enter confirm password *"
        },
    },
    
     submitHandler: function (form,e) { 
      e.preventDefault();
      $.ajax({
      url: '/resetPassword',
      method: 'post',
      data: $('#resetpassword').serialize(),


      success: (response) => {
        if(response.status == 'invalid'){
            document.getElementById('forgot').textContent=response.message
        }
       else if(response.status == 'success'){
            location.href='/'
        }
       else if(response.status == 'UserInvalid'){
            document.getElementById('forgot').textContent=response.message
        }
      },
      });
     },

});
});
</script>
