.rad-label {
    display: flex;
      align-items: center;
      border-radius: 100px;
      padding: 6px;
      cursor: pointer;
      transition: .3s;
  }
  
  .rad-label:hover,
  .rad-label:focus-within {
    background: hsla(0, 0%, 80%, .14);
  }
  
  .rad-input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
  }
  
  .rad-design {
    width: 22px;
    height: 22px;
    border-radius: 100px;
  
    background: linear-gradient(to right bottom,rgb(75, 75, 75), hsl(0deg 58% 42%));
    position: relative;
  }
  
  .rad-design::before {
    content: '';
  
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
  
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
  }
  
  .rad-input:checked+.rad-design::before {
    transform: scale(0);
  }
  
  .rad-text {
    
    margin-left: 14px;
    font-size: 13px;
    transition: .3s;
  }
  
  .rad-input:checked~.rad-text {
    color: red;
  }
  .form-check{
    padding-left: 8px !important;
      /* padding-top: 36px !important; */
  }